BLOG_ENV=production
BLOG_SECRET_KEY=replace-with-a-long-random-secret
BLOG_DATABASE_URL=mysql+pymysql://database_user:database_password@localhost/database_name
BLOG_SESSION_COOKIE_SECURE=1
BLOG_SESSION_HOURS=8
BLOG_MAX_UPLOAD_MB=15
BLOG_MEDIA_ROOT=/home/cpanel-user/vortexus-blog-media
BLOG_PUBLIC_BASE_URL=https://vortexusindustrial.com/blog
BLOG_ALLOWED_ORIGINS=https://vortexusindustrial.com,https://www.vortexusindustrial.com
BLOG_TRUST_PROXY_HEADERS=0
